* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    color: #000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    max-width: 1200px;
    margin: 0 auto;
}

header h4#name {
    cursor: pointer;
}

.nav-menu {
    display: none;
}

.menu-mobile {
    width: 250px;
    height: 100vh;
    background-color: #00000080;
    position: fixed;
    right: -250px;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 10;
    transition: all ease 0.5s;
}

.menu-mobile.active {
    right: 0;
}

.menu-mobile svg {
    position: absolute;
    top: 15px;
    right: 10px;
}

.menu-mobile svg path {
    color: #fff;
    fill: #fff;
}

.nav-menu-mobile {
    color: #fff;
    margin-top: 50px;
    line-height: 2;
}

.nav-menu-mobile li {
    list-style: none;
}

.nav-menu-mobile li a {
    color: #fff;
    font-size: 18px;
}

#name {
    font-size: 21px;
    font-weight: bold;
}

#hero-section {
    padding: 10px 10px 65px 10px;
    background-color: #F8FAFC10;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.hero-image {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
}

.hero-title {
    font-size: 42px;
    font-weight: 700;
}

.hero-subtitle {
    font-size: 28px;
    font-weight: 100;
    max-width: 250px;
}

.hero-description {
    font-size: 22px;
    font-weight: 300;
}

.hero-buttons {
    background-color: #3B82F6;
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.hero-button {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.hero-social-links {
    margin-top: 50px;
    display: flex;
    gap: 40px;
}

.hero-link {
    width: 48px;
    height: 48px;
    background-color: #F1F5F9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.section-title {
    font-size: 36px;
    font-weight: bold;
}

.section-divider {
    width: 100px;
    height: 5px;
    background-color: #3B82F6;
}

.section-description {
    font-size: 20px;
    font-weight: 200;
    padding: 0px 20px;
    margin-top: 20px;
    max-width: 360px;
}

#portfolio {
    padding: 50px 10px;
    background-color: #F8FAFC;
}

.project-grid {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #00000030;
    border-radius: 10px;
}

.project-image {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.project-info {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-title {
    font-size: 20px;
    font-weight: bold;
}

.project-description {
    font-size: 16px;
    font-weight: 200;
}

.project-technologies {
    margin: 20px 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
}

.technology {
    color: #3B82F6;
    font-weight: 700;
    font-size: 12px;
    background-color: #3B82F620;
    padding: 10px;
    border-radius: 15px;
}

#skills {
    padding: 20px;
    background-color: #fff;
}

.skills-container {
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.skill-category {
    background-color: #F8FAFC;
    border-radius: 15px;
    padding: 20px 50px
}

.skill-card {
    display: flex;
    align-items: center;
    gap: 20px;
}

.skill-icon-container {
    width: 48px;
    height: 48px;
    background-color: #3B82F620;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-title {
    font-size: 24px;
    font-weight: 700;
}

.skill-list {
    font-size: 12px;
    font-weight: 300;
    margin: 10px 20px;
    line-height: 1.5;
}

#testimonials {
    padding: 40px 20px 0;
    background-color: #F8FAFC;
}

.testimonials-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 60px 30px;
}

.testimonial-card {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.testimonial-icon {
    width: 56px;
    height: 56px;
}

.testimonial-quote {
    font-size: 16px;
    font-weight: 400;
    color: #64748B;
    line-height: 1.5;
}

.testimonial-image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.testimonial-author {
    display: flex;
    align-items: center;
    gap: 20px;
}

.testimonial-name {
    font-size: 18px;
}

.testimonial-role {
    font-size: 14px;
    color: #64748B;
}

#footer {
    background-color: #F8FAFC;
    padding: 50px 20px;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-section {
    padding: 0 30px;
}

.footer-heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-text {
    font-size: 16px;
    color: #64748B;
}

.social-links {
    list-style: none;
    line-height: 2;
}

.social-container {
    display: flex;
    gap: 45px;
}

.social-item {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {

    .menu-mobile {
        display: none;
    }

    /* Header */
    .menu-burger {
        display: none;
    }

    .nav-menu {
        display: flex;
        list-style: none;
        gap: 20px;
    }

    .nav-menu li a.active {
        color: #3B82F6;
    }

    /* Hero Section */
    #hero-section {
        gap: 20px;
    }

    .hero-title {
        font-size: 54px;
    }

    .hero-subtitle {
        max-width: 100%;
    }

    .hero-description {
        max-width: 450px;
    }

    .section-title {
        font-size: 44px;
    }

    .section-description {
        max-width: 450px;
    }

    /* Project Section */
    .project-grid {
        justify-content: center;
        flex-direction: row;
        gap: 16px;
    }

    .project-card {
        max-width: 370px;
    }

    /* Skills Section */
    .skills-container {
        justify-content: center;
        flex-direction: row;
        gap: 16px;
    }

    .skill-category {
        padding: 24px;
        padding-right: 32px;
    }

    /* Testimonials Section */
    .testimonials-container {
        justify-content: center;
        flex-direction: row;
        gap: 16px;
        max-width: 1200px;
        margin: 0 auto;
    }

    /* Footer */

    .footer-wrapper {
        flex-direction: row;
        margin: 0 auto;
        max-width: 1200px;
    }

    .footer-section {
        width: 33%;
    }
}

#about-page .title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-page .hero-title {
    margin-top: 30px;
}

#about-page .hero-text:first-of-type {
    margin-top: 20px;
}

#about-page .hero-text {
    font-weight: 300;
    font-size: 20px;
    text-align: left;
    margin-bottom: 16px;
    align-self: start;
}

#about-page .about-stats {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

#about-page {
    max-width: 1200px;
    margin: 0 auto;
}

#about-page .stat-item {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 20px;
    background-color: #f2f1f1bf;
    padding: 16px;
    border-radius: 20px;
}

#about-page .stat-icon {
    width: 40px;
    color: #2c77df;
}

#about-page .stat-content {
    display: flex;
    align-items: start;
    flex-direction: column;
}

#about-page .stat-number {
    font-size: 32px;
}

#about-page .stat-label {
    color: #898989;
}

@media (min-width: 768px) {

    #about-page #hero-section {
        display: flex;
        flex-direction: row;
    }

    #about-page .about-stats {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #about-page .stat-item {
        height: fit-content;
        width: 48%;
    }
}

#contact-page {
    padding: 0 20px;
}

#contact-page .title-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#contact-page .title-wrapper .hero-description {
    text-align: center;
}

.contact-form {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-input {
    padding: 10px;
    border: 1px solid #00000030;
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;
}

.form-button {
    padding: 10px;
    background-color: #3B82F6;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

@media (min-width: 768px) {
    #contact-page {
        max-width: 600px;
        margin: 0 auto;
    }
}